/* Base font size for the page */
body {
    font-size: 1.0rem;
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 86%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
header {
    background-color: hsla(127, 50%, 30%, 1);
    padding: .5rem 0;
    text-align: center;
    width: 100%;
    margin: auto;
    box-shadow: 0.200rem 0.200rem 0.625rem hsla(0, 0%, 0%, 0.5);
    position: relative;
}

/* Header title styling */
.name h1 {
    color: white;
    font-size: 2.0rem;
    margin: 1rem;
}

/* Container for header content to space items with flex */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styles for dropdown component */
.dropdown {
    display: inline-block;
}

/* Button inside dropdown for showing/hiding content */
.dropdown button {
    background-color: hsla(127, 50%, 30%, 1);
    color: white;
    padding: .625rem .9375rem;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

/* Content within dropdown, initially hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsla(0, 0%, 98%, 0.1);
    min-width: 10rem;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

/* Styling for each link in the dropdown */
.dropdown-content a {
    color: black;
    padding: .75rem 1rem;
    background-color: hsla(0, 0%, 98%, 0.9);
    text-decoration: none;
    display: block;
}

/* Styles for when dropdown content is shown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change dropdown button background on hover */
.dropdown:hover button {
    background-color: hsl(0, 0%, 70%);
}

/* Change background of dropdown links on hover */
.dropdown a:hover {
    background-color: hsl(0, 0%, 70%);
}

/* Class to display dropdown content when added via JS */
.show {
    display: block;
}

/* Weather App greeting section styles */
.greeting {
    font-size: 2rem;
    margin-top: 2rem;
    max-width: 50%;
    text-align: center;
}

/* Form for searching the weather */
.weatherForm {
    margin: 1.5rem;
    align-items: center;
}

/* Input styling for city search */
.cityInput {
    padding: .6rem;
    font-size: 2rem;
    font-weight: bold;
    border: .125rem solid hsla(67, 62%, 52%, 0.553);
    border-radius: .625rem;
    margin: .6rem;
    width: 20rem;
}

/* Submit button styles */
button[type="submit"] {
    padding: .65rem 1.25rem;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(67, 62%, 52%, 0.553);
    background-color: hsl(140, 63%, 43%);
    color: white;
    margin: .8rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

/* Submit button hover effect */
button[type="submit"]:hover {
    background-color: hsl(140, 63%, 33%);
}

/* Card styling for weather display */
.card {
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 3.125rem;
    box-shadow: 0.125rem 0.125rem 0.625rem hsla(0, 0%, 0%, 0.5);
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General text styles */
h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.5rem;
    margin: 0.3125rem 0;
}

/* Weather display styles */