body {
    font-size: 1.0rem
}

header {
    background-color: rgb(38, 114, 47);
    padding: .5rem 0;
    text-align: center;
    width: 100%;
    margin: auto;
}

.directory {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: end;
    

}

.directory a {
    text-decoration: none;
    color: white;
}

.directory li {
    margin: 0 10px;
    font-size: 1.4em;
    
}


.welcome {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}
